/*   VARIABLES */

:root {
  --fuentePrincipal: "Open sans", sans-serif;
  --fuenteSecundaria: "Roboto Condensed", sans-serif;

  /* COLORES */

  --colorPrincipal: #ff0000;
  --secundario: #fdfafa;
  --blanco: #fff;
  --negro: #000;
  --gris: #ececec;
  --azul: #5768fa;
  --grisOscuro: #888686;
  --azulClaro: #3fadf7;
  --colorPolitica: #fda205;
}

/* ESTILOS COMUNES */

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  background-color: var(--secundario);
  font-size: 1.8rem;
  font-family: var(--fuentePrincipal);
  color: var(--negro);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  text-align: center;
}

h2,
h3 {
  color: var(--negro);
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-family: var(--fuenteSecundaria);
  color: var(--negro);
  font-style: italic;
}

img {
  width: 100%;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

/* HEADER */

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navegacion ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 0;
}

.navegacion ul li {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}


 
.logo p {
  text-transform: uppercase;
  color: var(--colorPrincipal);
  font-family: "Open Sans";
  font-weight: bold;
  letter-spacing: 0.5rem;
}

.navegacion ul li a {
  color: var(--negro);
  font-family: var(--fuenteSecundaria);
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .menu {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: var(--gris);
  }

  .navegacion ul {
    flex-direction: row;
  }

  .navegacion ul li a {
    display: inline-block;
    color: var(--negro);
  }

  .navegacion ul li a:hover {
    color: var(--colorPrincipal);
  }
}

/* CABEZERA  */

.titular {
  background-image: url("../imagenes/bravas.webp");
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto__titular h1 {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--blanco);
  align-items: flex-start;
}

.texto__titular h1 span {
  font-size: 2.5rem;
  font-weight: normal;
  text-transform: none;
  margin-top: 2rem;
}

/* ESTILOS A SECCION DE POLITICA DE PRIVACIDAD */

#politica {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--colorPolitica);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  position: fixed;
  bottom: 10%;
  left: 5%;
  z-index: 1000;
}

#politica .parrafo__politica {
  color: var(--negro);
  letter-spacing: .3rem;
  line-height: 3rem;
  color: var(--negro);
}

#politica .botones .boton__politica {
  padding: 1rem 2rem;
  margin: 1rem 1rem;
  border: none;
  border-radius: 3rem;
  background-color: var(--azul);
  color: var(--blanco);
}

#politica .botones .boton__politica a {
  color: var(--blanco);
}

/* SOBRE NOSOTROS */

.sobre__nosotros {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.sobre__nosotros h2 {
  flex: 1 0 100%;
}

.sobre__nosotros .tarjeta {
  flex: 0 0 30%;
  width: 98%;
}

.sobre__nosotros .tarjeta img {
  border-radius: 1rem;
}

.sobre__nosotros .sobre__nosotros--texto p {
  font-size: 1.6rem;
  line-height: 3rem;
}

@media (min-width: 768px) {
  .sobre__nosotros {
    flex-direction: row;
    align-items: flex-start;
  }
}

/* ESPECIALIDADES */

@media (min-width: 768px) {
  .contenedor__imagenes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
  }
}

.contenedor__imagenes {
  width: 95%;
  margin: 0 auto;
}

.contenedor__imagenes .imagen img {
  border-radius: 1rem;
}

.especialidades__texto {
  width: 70%;
  margin: 0 auto;
  line-height: 3rem;
}

/*  COMENTARIOS */

.comentarios {
  width: 95%;
  margin: 0 auto;
}

.contenido__comentarios .nombre {
  display: flex;
  justify-content: start;
  align-items: center;
}

.contenido__comentarios .estrellas {
  width: 30%;
  margin-left: 1rem;
}

.comentarios .parrafo {
  line-height: 3rem;
  font-family: var(--fuentePrincipal);
}

@media (min-width: 768px) {
  .contenido__comentarios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
  }
}

/* QUIENES SOMOS */

.quienesSomos__contenido {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.quienesSomos__contenido h2 {
  flex: 1 0 100%;
}

.quienesSomos__contenido .imagen__tarjeta {
  flex: 0 1 45%;
}

.imagen__tarjeta img {
  border-radius: 1rem;
}

.sobre__nosotros,
.especialidades,
.comentarios,
.contacto,
.quienesSomos,
.footer {
  margin-top: 5rem;
}

/* CONTACTO */

.contenido__contacto {
  width: 70%;
  margin: 0 auto;
  line-height: 3rem;
}

#mapid {
  height: 20rem;
  width: 95%;
  margin: 0 auto;
}

#mapid .conectar {
  position: absolute;
  top: 75%;
  left: 0;
  z-index: 1000;
}

#mapid .conectar a {
  display: block;
  background-color: var(--azul);
  color: var(--blanco);
  padding: .5rem;
  text-transform: uppercase;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;

}

@media (min-width: 768px) {
  #mapid {
    height: 40rem;
    width: 70%;
    margin: 0 auto;
  }

#mapid .conectar {
  top: 85%;
}  

#mapid .conectar a {
  font-size: 1.5rem;
}
}

.formulario {
  width: 95%;
  margin: 2rem auto;
}

.campo {
  display: flex;
  margin-bottom: 2rem;
}

.etiqueta {
  flex: 0 0 10rem;
}

.campo__nombre,
.campo__email,
.campo__mensaje {
  flex: 1;
  border: none;
  border-bottom: 1px solid var(--azulClaro);
}

input:invalid:required {
  background-image: linear-gradient(to right, #ccc, lightblue);
}

.enviar {
  display: inline-block;
  padding: 1rem 3rem;
  width: 15rem;
  margin: 0 auto;
  background-color: var(--azul);
  color: var(--blanco);
  letter-spacing: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

#error {
  text-align: center;
  font-weight: bold;
  letter-spacing: .5rem;
  text-transform: uppercase;
}



/*  FOOTER  */

.footer {
  background: linear-gradient(
    to right,
    rgba(76, 76, 76, 1) 0%,
    rgba(43, 43, 43, 1) 20%,
    rgba(102, 102, 102, 1) 22%,
    rgba(89, 89, 89, 1) 32%,
    rgba(71, 71, 71, 1) 39%,
    rgba(0, 0, 0, 1) 51%,
    rgba(19, 19, 19, 1) 61%,
    rgba(44, 44, 44, 1) 72%,
    rgba(17, 17, 17, 1) 89%,
    rgba(28, 28, 28, 1) 91%,
    rgba(28, 28, 28, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
}

.footer__final {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.navegacion__footer .logo {
  width: 40%;
  margin: 0 auto;
}

.navegacion__footer .logo img {
  border-radius: 2rem;
}

.navegacion__footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 2rem;
}

.navegacion__footer ul li a {
  color: var(--blanco);
}

.direccion p {
  color: var(--blanco);
}

.telefono {
  color: var(--blanco);
  margin-bottom: 2rem;
}

.imagen__footer {
  margin-top: 2rem;
}

.imagen__footer img {
  border-radius: 1rem;
}

.parrafo__final {
  color: var(--blanco);
}

.redes {
  flex: 1 0 100%;
}

.redes ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.redes ul li a {
  display: block;
  font-size: 4rem;
  margin: 2rem;
}

.redes ul li a i {
  color: var(--blanco);
}

.direccion small a {
  color: var(--blanco) ;
}

.body {
  background-color: var(--blanco);
  padding: 3rem;
}


@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    align-items: flex-start;
  }

  .footer .imagen__footer {
    flex: 0 1 40%;
    text-align: center;
  }

  .navegacion__footer {
    flex: 0 1 30%;
  }

  .navegacion__footer .direccion {
    align-self: flex-start;
  }

  .imagen__footer {
    width: 50%;
    margin: 0 auto;
  }

  .redes ul {
    justify-content: space-evenly;
  }
}
